@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Shippori+Antique&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight:500 !important;
}
html {
    font-family: 'Shippori Antique', sans-serif;
    font-size: 15px;
    scroll-behavior: smooth;
    background-color: #ffffff;
}
section {
    height: 95vh; /*vh = viewport height*/
    width: 100%;
    background-color: #7e8081;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    /*text-transform: uppercase;*/
}

nav .techvalore{
    position:fixed;
    left:30px;
    width: 20%;
    top: 15px;
}

nav .techvalore a{
    font-family: 'Lobster';
    font-size: 30px;
    color: black;
    text-decoration: none;
}

nav .profile-icon{
    display: flex;
  column-gap: 15px;
  justify-content: space-between;
    position:fixed;
    right:30px;
    top: 23px;
}
nav .profile-icon img{
    width: 30px;
}

nav .login-container{
    position:fixed;
    right:15px;
    top: 27px;
}
nav .login-container a{
    font-size: 15px;
    color: black;
    text-decoration: none;
}

nav {
    position: sticky;
    top: 0;
    background-color: #f3f3f3;
    z-index: 1; /*To not allow the content to go over the header when scroll*/
    height: 75px;
}
nav .container1 {
    position:fixed;
    right: 0px;
    width: 100%;
    /*max-width: 100%;*/
    padding: 18px;
}
nav .container1 ul{
    text-align: center;
}
nav .container1 ul li {
    display: inline-block;
    border-radius:5px;
}
nav .container1 ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    color: black;
}
nav .container1 ul li.active {
    background-color: #3b49df;
    border-radius:30px !important;
    transition: 0.3s;
}
nav .container1 ul li.active a {
    color: #ffffff;
}

#home {
    background-color: #e06c0c;

}
#categories {
    background-color: #add812;
}

#productlist {
    background-color: #309c8e;
    height: 1220vh;
}

.mascot {
    position: sticky;
    top: 0;
    z-index: 0; /*To not allow the content to go over the header when scroll*/
    height: 0px;
    width: 100%;
    text-align: right;
}

.mascot img{
    padding-top: 670px;
    width: 250px;
    bottom: 0;
    right: 0;
}


/* Home Page Section */
.container2{
    width: 100%;
    color: #ffffff;
    text-align: center;
}

.container2 img{
    width: 100%; 
    height: 100%;
}
.forimg{
    width: 300px;
  }

/* Categories Section */


/* Product Section */
.container3{
    font-size: 18px;
    width: 100%;
}
.container3 h1{
    text-align: center;
    color: #ffffff;
}

.container3 p {
    text-align: center;
    margin: auto;
    width: 80%;
    color: #ffffff;
}

/*Footer Section*/
.footer{
    height: 75px;
    background-color: #0e0e0e;
    color: white;
}

.notes{
    left:30px;
    top: 20px;
    padding-top: 1.5%;
}

/*Loading Page*/
.animation-center{  
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/ /*if we only want this item to be smack center*/
}

.loading-text{
    display: block;
    margin: 0 auto;
    text-align: center;
    color: rgb(0, 0, 0);
    top: -100px;
    position: relative;
    font-style: italic;
}

/*Login Page*/
#login {
    background-color: #ffffff;
    height: 85vh; /*vh = viewport height*/
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

/*Register Page*/

/* Profile Page*/
#profile {
    background-color: #ffffff;
    padding-left: 75px;
    padding-right: 75px;
    display: block;
}

.profilepic{
    float: left;
    width: 250px;
}

.profilepic1 {
    width: 250px;   
}

#profile h1{
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.profile1 {
    overflow: hidden;
    margin: auto;
    font-size: 20px;
    width: 55%;
    height: 30%;
    padding: 1%;
	background: rgb(241, 241, 241);
    border-radius: 30px;
    box-shadow: 0 8px 0 0 rgba(0,0,0,0.1);
}
.profile2 {
    font-size: 18px;
    width: 60%;
    height: 50%;
	text-align: center;
	padding: 1.5em;
    margin: auto;
}

.info{
    width: 50%;
    overflow: hidden;
    margin-top: 5%;
    padding-left: 3%;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #dfdfdf !important;
    color: #0e0e0e !important;
    border: none !important;
    height: 40px !important;
}


.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: #3b49df !important;
    color: #ffffff !important;
    border: none !important;
    height: 40px !important;
}
/* Voucher Page*/
#voucher {
    height: 105vh;
    background-color: #ffffff;
    padding-left: 30%;
    padding-right: 30%;
    display: block;

}

#voucher h1{
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.col-md-3{
    text-align: center !important;
    padding-top: 2%;
}

.col-md-8{
    text-align: center !important;
    margin: auto;
}

/* Minigames Page*/
#minigame {
    height: 85vh;
    background-color: #ffffff;
    padding-left: 30%;
    padding-right: 30%;
    display: block;
    text-align: center;

}

#minigame h1{
    font-weight: bold;
    padding: 10px;
    padding-bottom: 50px;
}
#minigame h2{
    color:rgb(190, 3, 3);
}
.rotateMe {
    transition: all 2s ease;
    transform: rotate(3035deg);
  }

  #minigame button{
    width: 500px !important;
}
